@model WebShop.Models.ProductPageModel
@{
    ViewBag.Title = "Изменение товара";
    Layout = "~/Views/Shared/Wrapper.cshtml";
}

<h2>@ViewBag.Title</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <fieldset>
    @using (Html.BeginForm("Add_changes", "Product"))
        {
        <div class="form-group row">
            @Html.LabelFor(model => model.Artikul, "Артикул", new { @class = "col-md-2 control-label" })
            <div>
            @Html.DisplayFor(model => model.Artikul, new { @class = "col-md-2 control-label" })
            @Html.HiddenFor(model => model.Artikul)
                </div>
            @*<div class="col-md-10">
                @Html.TextBoxFor(model => model.Artikul, new { @class = "form-control", disabled ="disabled"})
            </div>*@
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.img, "Изображение", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                                @{int t = 0;
                                    foreach (var image in Model.img)
                                    {
                                            @Html.TextBoxFor(model=>Model.img[t], new { @class = "form-control", name="img"});
                                            t++;
                                            }
                                            }
</div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Name, "Имя", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Mark, "Марка", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Mark, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="categories" class="col-md-2 control-label">Категории</label>
            <div class="col-md-10">
                @{
                    List<WebShop.Models.PrCategoryModel> Categories = ViewBag.Categories;
                    List<WebShop.Models.PrCategoryModel> Categories_FP = ViewBag.Categories_FP;
                    foreach (var c in Categories)
                    {
                        string check = "";
                        if (Categories_FP.Any(x=>x.Category_id==c.Category_id))
                        {
                            check = "checked='checked'";
                        }
                        else { check = ""; }
                        <label class="checkbox">
                            <input type="checkbox" name="categories" value="@c.Category_id" @check> @c.Category
                        </label>

                    }
                }
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Cost, "Цена", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Cost, new { @class = "form-control", type = "number", min = "0", max = "100000" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Sale, "Скидка", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Sale, new { @class = "form-control" , type = "number", min = "0", max = "99" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Sale_cost, "Цена со скидкой", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Sale_cost, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Amount_store, "Количество на складе", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Amount_store, new { @class = "form-control", type = "number", min = "0", max = "100000" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Visible, "Видимость на сайте", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Visible, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Information, "Информация", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Information, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Popularity, "Популярность", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Popularity, new { @class = "form-control",
               @readonly = "readonly" @*disabled = "disabled"*@})
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.HDD_id, "Накопитель", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HDD_id, new SelectList(ViewBag.Hdds, "HDD_id", "HDD", Model.HDD_id))
                ГБ
            </div>
        </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Memory_id, "Оперативная память", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Memory_id, new SelectList(ViewBag.Mems, "Memory_id", "Memory", 
                                       Model.Memory_id))
                            ГБ
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Proc_id, "Процессор", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Proc_id, new SelectList(ViewBag.Processors,
                                                        "Proc_id", "ProcessorProducer", Model.Proc_id))
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.VideoMemory, "Видеокарта", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Video_id, new SelectList(ViewBag.Videocards,
                                                        "Video_id", "VideoProducer", Model.Video_id))
                        </div>
                    </div>

        <div class="form-group row">
            <input type="submit" value="Изменить" class="Update" />
        </div>
            }
</fieldset>
    <script type="text/javascript">
        $("#Cost").focusout(function () {

            var url = "@Url.Action("Calculate"/*имя экшина*/, "Product"/*имя контроллера*/)";
            var Cost = document.getElementById("Cost").value;//$('div:eq(4)').val();
            var Sale = document.getElementById("Sale").value;
            var Result;
            $.ajax({
                type: "POST",
                data: { "cost": Cost, "sale": Sale },
                url: url,
                success: function (result) {
                    $('#Sale_cost').attr('value', result);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $("#Sale").focusout(function () {

            var url = "@Url.Action("Calculate"/*имя экшина*/, "Product"/*имя контроллера*/)";
            var Cost = document.getElementById("Cost").value;//$('div:eq(4)').val();
            var Sale = document.getElementById("Sale").value;
            var Result;
            $.ajax({
                type: "POST",
                data: { "cost": Cost, "sale": Sale },
                url: url,
                success: function (result) {
                    $('#Sale_cost').attr('value', result);
                }
            });
        });
    </script>
</body>
</html>
