@model WebShop.Models.ProductPageWithComments
@using WebShop.Models;
@using PagedList.Mvc;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/pagestyle.css" rel="stylesheet" type="text/css" />    
    <title>         
    </title>
</head>
<body>
    <div class="wrappy clearfix">

        @if (Model.product.img != null && Model.product.img.Count > 0)
        {
            <div id="gallery">
                <div id="panel">
                    <img id="largeImage" src=@Url.Content(Model.product.img.ToArray()[0]) />
                    @{
                    if (Model.product.Popularity >= Convert.ToInt64(Session["topMinPopul"]))
                    {
                        <div class="top_note_page">
                            <p>TOP</p>
                        </div>
                    }
                    if (Model.product.Sale > 0)
                    {
                        <div class="sale_note_page">
                            <p>-@Model.product.Sale%</p>
                        </div>
                    }
                     }
                </div>
                <div id="thumbs">
                    @{
                    int maxCount = Model.product.img.Count < 3 ? Model.product.img.Count : 3;
                    }
                    @if (maxCount > 1)
                {
                    for (int i = 0; i < maxCount; i++)
                    {
                <img src=@Url.Content(Model.product.img.ToArray()[i]) alt="Описание 1" />
                    }
                }
            </div>
        </div>
                        }
                        else
                        {
                            <div id="gallery">
                                Изображения пока недоступны. Извините за неудобства
                            </div>
                        }

        <div class="page_product_description">
            <table>
                <tr>
                    <td class="lc">НАИМЕНОВАНИЕ:</td>
                    <td class="tc">@Model.product.Name</td>
                </tr>
                <tr>
                    <td class="lc">ПРОИЗВОДИТЕЛЬ:</td>
                    <td class="tc">@Model.product.Mark</td>
                </tr>
                <tr>
                    <td class="lc">ЦЕНА:</td>
                    @if (Model.product.Cost == Model.product.Sale_cost)
                    {
                        <td class="tc">@Model.product.Sale_cost грн. </td>
                    }
                    else
                    {
                        <td class="sale tc" style="color:red">
                            <span class="old_cost">@Model.product.Cost грн.</span>
                            &nbsp; @Model.product.Sale_cost грн.
                        </td>
                    }
                </tr>
                <tr>
                    <td class="lc" >ПРОЦЕССОР</td>
                    <td class="tc">@Model.product.ProcessorProducer, @Model.product.ProcessorFreq GHz</td>
                </tr>
                <tr>
                    <td class="lc" >ЖЕСТКИЙ ДИСК</td>
                    <td class="tc">@Model.product.HDD GB</td>
                </tr>
                <tr>
                    <td class="lc" >ОПЕРАТИВНАЯ ПАМЯТЬ</td>
                    <td class="tc">@Model.product.Memory GB</td>
                </tr>
                <tr>
                    <td class="lc" >ВИДЕО КАРТА</td>
                    <td class="tc">@Model.product.VideoProducer, @Model.product.VideoMemory GB</td>
                </tr>
                <tr>
                    <td class="lc" style="vertical-align: top;">ОПИСАНИЕ:</td>
                    @if (Model.product.Information != null)
                    {
                        <td class="tc">@Model.product.Information</td>
                    }
                    else
                    {
                        <td class="tc">Описания пока нет</td>
                    }
                </tr>
            </table>
           
            <div class="cart_buy">
                @{if (Model.product.Amount_store == 0)
            {
                        <p>Нет на складе</p>
                    }
                    else if (User.IsInRole("user") || !User.Identity.IsAuthenticated)
                    {
                        <div>
                            @Html.ActionLink("Купить", "userChoice", "Carts",
                    new { prId = Model.product.Artikul },
                    new { onclick = "return CartGo()", id = "anchortag" })
                        </div>
                    }
                }
            </div>
        </div>       
    </div>
 
    <hr />
    <div class="product_list">       
        @if (Model.similarProducts != null && Model.similarProducts.Count() > 0)
        {
            <h3> Вам может быть интересно: </h3>
            foreach (var item in Model.similarProducts)
            {
                <div class="product" style="width: 20%;">
                    @if (!String.IsNullOrEmpty(item.Image_path))
                    {
                        <div class="img_block">
                            <a href="@Url.Action("Page", "ProductsList", new { id = item.Artikul })"><img src=@Url.Content(item.Image_path) alt="PhoneImage"></a>
                            <div class="buttons"><a href="@Url.Action("Page", "ProductsList", new { id = item.Artikul })">ПЕРЕЙТИ</a></div>
                        </div>
                    }
                    else
                    {
                        <div class="img_block">
                            <a href="@Url.Action("Page", "ProductsList", new { id = item.Artikul })"><img alt="Картинка пока недоступна"></a>
                        </div>
                    }
                    <p>
                        @item.Name (@item.Mark)
                        @if (item.Cost == item.Sale_cost)
                        {
                        <p>@item.Sale_cost грн.</p>
                        }
                        else
                        {
                            <p class="sale">
                                <span class="old_cost">@item.Cost грн.</span>
                                &nbsp; @item.Sale_cost грн.
                            </p>

                        }
                        </p>

                        @if (item.Sale > 0)
                        {
                            <div class="sale_note">
                                <p>-@item.Sale%</p>
                            </div>
                        }
                        @if (item.Popularity >= Convert.ToInt64(Session["topMinPopul"]))
                        {
                            <div class="top_note">
                                <p>TOP</p>
                            </div>
                        }

                        @if (item.Amount_store == 0)
                        {
                            <div class="not_found_list">
                                <p>Нет на складе</p>
                            </div>
                        }
                    </div>
            }
        }     
    </div>
    <hr />
    <div class="product_list">
        @if (Model.recentProducts != null && Model.recentProducts.Count() > 0)
        {
            <h3> Вы недавно просматривали: </h3>
            foreach (var item in Model.recentProducts)
            {
                //if (item == Model.recentProducts.Last())
                //{
                //    continue;
                //}
                <div class="product" style="width: 20%;">
                    @if (!String.IsNullOrEmpty(item.Image_path))
                    {
                        <div class="img_block">
                            <a href="@Url.Action("Page", "ProductsList", new { id = item.Artikul })"><img src=@Url.Content(item.Image_path) alt="PhoneImage"></a>
                            <div class="buttons"><a href="@Url.Action("Page", "ProductsList", new { id = item.Artikul })">ПЕРЕЙТИ</a></div>
                        </div>
                    }
                    else
                    {
                        <div class="img_block">
                            <a href="@Url.Action("Page", "ProductsList", new { id = item.Artikul })"><img alt="Картинка пока недоступна"></a>
                        </div>
                    }
                    <p>
                        @item.Name (@item.Mark)
                        @if (item.Cost == item.Sale_cost)
                        {
                        <p>@item.Sale_cost грн.</p>
                        }
                        else
                        {
                            <p class="sale">
                                <span class="old_cost">@item.Cost грн.</span>
                                &nbsp; @item.Sale_cost грн.
                            </p>

                        }
                        </p>

                        @if (item.Sale > 0)
                        {
                            <div class="sale_note">
                                <p>-@item.Sale%</p>
                            </div>
                        }
                        @if (item.Popularity >= Convert.ToInt64(Session["topMinPopul"]))
                        {
                            <div class="top_note">
                                <p>TOP</p>
                            </div>
                        }

                        @if (item.Amount_store == 0)
                        {
                            <div class="not_found_list">
                                <p>Нет на складе</p>
                            </div>
                        }
                    </div>
            }
        }
    </div>

    <div class="add-comment">
        @if (User.IsInRole("user"))
        {
            using (Html.BeginForm("Page", "ProductsList", FormMethod.Post, new
            {
                id = Model.product.Artikul
            }))
            {
                <p>
                    @Html.TextArea("comment", new
          {
              placeholder = "Введите новый комментарий...",
              maxlength = "500"
          })
                    <input type="submit" value="Добавить" id="add_submit" />
                </p>
            }
        }
        else
        {
            <div style="text-align:center; margin-top: 50px;">
        Только авторизированные покупатели могут оставлять отзывы о товарах.</div>
        }
    </div>
@if (Model.comments != null && Model.comments.Count > 0)
{
    <div class="container" id="comments_start">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1><small class="pull-right">Всего: @ViewBag.CommentAmount</small> Комментарии </h1>
                </div>
                <div class="comments-list">
                    @foreach (var comment in Model.comments)
                    {
                        <div class="media">
                            <p class="pull-right">
                            <small>
                                    @comment.Comment_date.ToShortDateString() &nbsp;
                                    @comment.Comment_date.ToShortTimeString()
                            </small></p>
                            <div class="media-body">

                                <h4 class="media-heading user_name">@comment.User_name</h4>
                                
                                @Html.Raw(comment.Comment_text.Replace("\n", "<br/>"))

                            </div>
                        </div>   @* end media *@
                    }   
                </div>
            </div>
        </div>
    </div>

    <div style="text-align:center;">
        <div class="btn-group">
            @if (Model.PageInfo.PageNumber != 1)
            {
                <a class="btn btn-default" href="@Url.Action("Page", new { id = Model.product.Artikul,
                    curPageNumber = Model.PageInfo.PageNumber-1 })">
                    <<
                </a>
            }
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Page", 
           new { id = Model.product.Artikul, curPageNumber = x }))
           @if (Model.PageInfo.PageNumber!=Model.PageInfo.TotalPages)
           {
            <a class="btn btn-default" href="@Url.Action("Page", new { id = Model.product.Artikul,
                    curPageNumber = Model.PageInfo.PageNumber+1 })">
                >>
            </a>
           }

        </div>
    </div>

}
else
{
    <div style="text-align:center;">
        На этот товар никто еще не оставил отзыв. 
        Оставьте свой комментарий, чтобы помочь другим пользователям.
    </div>
}


</body>
</html>
<script>
    $(document).ready(function () {
        if ('@ViewBag.ScrollToAnchor' == 'True') {
            var anchor = document.getElementById('comments_start');
            anchor.scrollIntoView(true);
        }
    });

</script>

<script type="text/javascript">
            $('#thumbs').delegate('img', 'click', function () {
                $('#largeImage').attr('src', $(this).attr('src').replace('thumb', 'large'));
                $('#description').html($(this).attr('alt'));
            });
</script>

<script>
    function CartGo() {
        if (confirm("Перейти в корзину?")) {
            document.getElementById('anchortag').href += "&confirm=true";
        } else {
            document.getElementById('anchortag').href += "&confirm=false";
        }
        return true;
    }
</script>